---
title: Hitseeker
---

<article>
  <header>
    <h1>Hitseeker: An experiment.</h1>
  </header>
  <div class="article-content">
    <p>This website is an experiment for <%= link_to '15-396', 'http://www.contrib.andrew.cmu.edu/~nkatariy/15396/index.html' %>, created at the demands of our instructor, <%= link_to 'Luis von Ahn', 'http://www.cs.cmu.edu/~biglou/' %>.</p>
  </div>
  <aside>
    <h2>Related Links</h2>
    <ul>
      <li><a href="http://www.andrew.cmu.edu/user/kgilbert/hitseeker/">kgilbert/hitseeker</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/icw/hitseeker.html">icw/hitseeker</a></li>
      <li><a href="https://sites.google.com/a/ncroses.com/hitseeker/">ncroses/hitseeker</a></li>
      <li><a href="https://medium.com/what-i-learned-today/ef82ecb8bc9d">medium/hitseeker</a></li>
      <li><a href="http://hitseekerhitseeker.wordpress.com/">hitseekerhitseeker</a></li>
      <li><a href="http://hitseeker1.wordpress.com/">hitseeker1</a></li>
      <li><a href="http://ahitseeker.wordpress.com/">ahitseeker</a></li>
      <li><a href="https://www.andrew.cmu.edu/user/bhoane/hitseeker.html">bhoane/hitseeker</a></li>
      <li><a href="http://hitseeker-hitseeker.tumblr.com/ ">hitseeker-hitseeker</a></li>
      <li><a href="http://thehitseeker.wordpress.com/2013/10/29/hitseeker/">thehitseeker</a></li>
      <li><a href="http://thehitseeker.wordpress.com/">thehitseeker</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/ilyu/hitseeker.html">ilyu/hitseeker</a></li>
      <li><a href="http://hitseeker396.tumblr.com/">hitseeker396</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/ericwong/hitseeker.html">ericwong/hitseeker</a></li>
      <li><a href="http://hitseekerhit.tumblr.com/">hitseekerhit</a></li>
      <li><a href="http://www.lordhitseeker.info">lordhitseeker</a></li>
      <li><a href="http://amithenumberonehitseekeryet.tumblr.com/">amithenumberonehitseekeryet</a></li>
      <li><a href="http://hitseeker.azurewebsites.net/">hitseeker</a></li>
      <li><a href="https://sites.google.com/site/hitseeker2hitseeker/">hitseeker2hitseeker</a></li>
    </ul>
  </aside>
  <aside>
    <h2>References</h2>
    <ul>
      <li><a href="http://www.urbandictionary.com/define.php?term=hitseeker">http://www.urbandictionary.com/define.php?term=hitseeker</a></li>
    </ul>
  </aside>
  <aside>
    <h2>Social Links</h2>
    <ul>
      <li><a href="http://www.reddit.com/r/hitseeker">r/hitseeker</a></li>
      <li><a href="http://twitter.com/hitseeker396">hitseeker396</a></li>
      <li><a href="https://twitter.com/hitseeker_hit">hitseeker_hit</a></li>
      <li><a href="http://twitter.com/besthitseeker">besthitseeker</a></li>
    </ul>
  </aside>
</article>