---
title: Hitseeker
---

<article>
  <header>
    <h1>Hitseeker: Seeking hits since 2013.</h1>
  </header>
  <div class="article-content">
    <p>This website is an experiment for <%= link_to '15-396', 'http://www.contrib.andrew.cmu.edu/~nkatariy/15396/index.html' %>, created at the demands of our instructor, <%= link_to 'Luis von Ahn', 'http://www.cs.cmu.edu/~biglou/' %>.</p>
  </div>
  <aside>
    <h2>Related Links</h2>
    <ul>
      <li><a href="http://lucy.ws/hitseeker/">hitseeker - Lucy Guo</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/kgilbert/hitseeker/">hitseeker - Kevin Gilbert</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/icw/hitseeker.html">hitseeker - Ivan Wang</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/gdw/hitseeker.html">hitseeker - Gail Wilson</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/jhcole/hitseeker.html">hitseeker - John Cole</a></li>
      <li><a href="https://sites.google.com/a/ncroses.com/hitseeker/">hitseeker - ncroses</a></li>
      <li><a href="https://medium.com/what-i-learned-today/ef82ecb8bc9d">hitseeker - Medium</a></li>
      <li><a href="http://hitseekerhitseeker.wordpress.com/">hitseekerhitseeker - Wordpress</a></li>
      <li><a href="http://hitseeker1.wordpress.com/">hitseeker1 - Wordpress</a></li>
      <li><a href="http://ahitseeker.wordpress.com/">ahitseeker - Wordpress</a></li>
      <li><a href="https://www.andrew.cmu.edu/user/bhoane/hitseeker.html">hitseeker - Brandon Hoane</a></li>
      <li><a href="http://hitseeker-hitseeker.tumblr.com/">hitseeker-hitseeker - Tumblr</a></li>
      <li><a href="http://thehitseeker.wordpress.com/2013/10/29/hitseeker/">thehitseeker - Wordpress</a></li>
      <li><a href="http://thehitseeker.wordpress.com/">thehitseeker - Wordpress</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/ilyu/hitseeker.html">hitseeker - Il Suk Lyu</a></li>
      <li><a href="http://hitseeker396.tumblr.com/">hitseeker396 - Tumblr</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/ericwong/hitseeker.html">hitseeker - Eric Wong</a></li>
      <li><a href="http://hitseekerhit.tumblr.com/">hitseekerhit - Tumblr</a></li>
      <li><a href="http://www.lordhitseeker.info">lordhitseeker</a></li>
      <li><a href="http://amithenumberonehitseekeryet.tumblr.com/">amithenumberonehitseekeryet - Tumblr</a></li>
      <li><a href="http://hitseeker.azurewebsites.net/">hitseeker - Azure Websites</a></li>
      <li><a href="https://sites.google.com/site/hitseeker2hitseeker/">hitseeker2hitseeker - Google Sites</a></li>
      <li><a href="http://hitseekerhits.tumblr.com">hitseekerhits - Tumblr</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/sposney/hitseeker.html">hitseeker - Stephen Posney</a></li>
      <li><a href="http://www.hitseeker.info/">hitseeker.info</a></li>
      <li><a href="http://hitseekering.tumblr.com/">hitseekering - Tumblr</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/tpoeppin/hitseeker.html">hitseeker - Thomas Poepping</a></li>
      <li><a href="http://www.andrew.cmu.edu/user/jchen4/hitseeker.html">hitseeker - Jeff Chen</a></li>
      <li><a href="http://hitseeker2.wordpress.com">hitseeker2 - Wordpress</a></li>
    </ul>
  </aside>
  <aside>
    <h2>References</h2>
    <ul>
      <li><a href="http://www.urbandictionary.com/define.php?term=hitseeker">hitseeker - Urban Dictionary</a></li>
    </ul>
  </aside>
  <aside>
    <h2>Social Links</h2>
    <ul>
      <li><a href="http://www.reddit.com/r/hitseeker">hitseeker - Reddit</a></li>
      <li><a href="https://twitter.com/search/?q=%23hitseeker">#hitseeker - Twitter</a></li>
    </ul>
  </aside>
</article>